<div id="settings">
    <div class="hpanel">
        <div class="panel-body">
            <div class="filter-box cash-filter filter-box-noall">
                <div class="filters-list">
                    <div class="filter-line clfix">
                        <div class="name">预测时间：</div>
                        <div class="options">
                            <dl>
                                <!-- <dt></dt> -->
                                <dd>
                                    <div class="dropdown fl" dropdown>
                                        <div dropdown-toggle class="dropdown-toggle cp">
                                            <span ng-bind="params.start_date"></span>
                                            <b class="fa fa-angle-down icon-arrow fb f1_5rem"></b>
                                        </div>
                                        <div class="dropdown-menu animated fadeIn">
                                            <ul>
                                                <li ng-repeat="period in project.validPeriods track by $index" ng-class="{active: period === params.start_date}">
                                                    <a ng-click="changeStartDate(period)" title="{{period}}" ng-bind="period"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>预测期数：</dt>
                                <dd>
                                    <em ng-bind="params.periods"></em>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="filter-line clfix">
                        <div class="name">参数选取：</div>
                        <div class="options">
                            <ul class="options-list">
                                <li class="custom-option" ng-repeat="o in paramsList" ng-class="{active: params.active_param === o.value}">
                                    <a ng-click="updateActiveParam(o.value)" ng-class="{'disabled': params.customOnly && o.value !== 'custom'}">
                                        <span ng-bind="::o.name"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter-line clfix">
                        <div class="name">结果取值：</div>
                        <div class="options">
                            <dl ng-class="{'input-visible': params.active_param === 'custom'}">
                                <!-- <dt></dt> -->
                                <dd>
                                    <span class="sub-title">年化早偿率</span>
                                    <em ng-if="params.active_param !== 'custom'" ng-bind="params.prepayment_rate| ktNumber:2"></em>
                                    <input ng-if="params.active_param === 'custom'" type="text" ng-model="params.prepayment_rate" id="prepayment_rate" pattern="^(0(\.[0-9]{1,2})?)$|^(0\.[0-9]{1,2}\*\d+,?)+$" type="text" tooltip-append-to-body="true" tooltip-trigger="none" tooltip-placement="top" uib-tooltip="{{customParams.prepayment_rate.errors}}" tooltip-class="error" tooltip-is-open="customParams.prepayment_rate.open">
                                </dd>
                            </dl>
                            <dl ng-class="{'input-visible': params.active_param === 'custom'}">
                                <!-- <dt>参数：</dt> -->
                                <dd>
                                    <span class="sub-title">年化违约率</span>
                                    <em ng-if="params.active_param !== 'custom'" ng-bind="params.default_rate| ktNumber:2"></em>
                                    <input ng-if="params.active_param === 'custom'" type="text" ng-model="params.default_rate" id="default_rate" pattern="^(0(\.[0-9]{1,2})?)$|^(0\.[0-9]{1,2}\*\d+,?)+$" type="text" tooltip-append-to-body="true" tooltip-trigger="none" tooltip-placement="top" uib-tooltip="{{customParams.default_rate.errors}}" tooltip-class="error" tooltip-is-open="customParams.default_rate.open">
                                </dd>
                            </dl>
                            <dl ng-class="{'input-visible': params.active_param === 'custom'}">
                                <!-- <dt>参数：</dt> -->
                                <dd>
                                    <span class="sub-title">未还款率</span>
                                    <em ng-if="params.active_param !== 'custom'" ng-bind="params.pending_rate| ktNumber:2"></em>
                                    <input ng-if="params.active_param === 'custom'" type="text" ng-model="params.pending_rate" id="pending_rate" pattern="^(0(\.[0-9]{1,2})?)$|^(0\.[0-9]{1,2}\*\d+,?)+$" type="text" tooltip-append-to-body="true" tooltip-trigger="none" tooltip-placement="top" uib-tooltip="{{customParams.pending_rate.errors}}" tooltip-class="error" tooltip-is-open="customParams.pending_rate.open">
                                </dd>
                            </dl>
                            <div class="cls comment" ng-if="params.active_param ==='custom'">
                                <p>例：0.1*5,0.2*8</p>
                            </div>
                        </div>
                    </div>
                    <div class="filter-line clfix">
                        <a style="margin-left: 25px;" class="btn btn-xs btn-primary" ng-click="applySettings()">应用</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hpanel hpanel-padding">
        <div class="panel-heading clfix">
            <h5 class="margin-h5">
                <span>参数历史</span>
        </h5>
        </div>
        <div class="panel-body clfix pr ov-h">
            <div class="chart-table">
                <div class="table-responsive table-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr class="text-left">
                                <th>结果取值</th>
                                <th ng-repeat="date in project.history_params.dates | reverse track by $index" ng-class="{em: isReferPeriod($index)}">
                                    <span>{{date}}</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-right" ng-repeat="item in project.history_params.trends">
                                <th class="text-center" ng-bind="::item.name"></th>
                                <td ng-repeat="value in item.data | reverse track by $index" ng-bind="::value | ktNumber:2"></td>
                            </tr>
                            <tr ng-if="!project.history_params.dates.length && !isLoading()">
                                <td class="text-info text-center">
                                    <i class="pe-7s-attention f20 mr5"></i>
                                    <span class="f16">没有数据！</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--    <div class="text-center" ng-if="!project.history_params.dates.length && !isLoading()">
                        <i class="pe-7s-attention f20 mr5"></i>
                        <span class="f16">没有数据！</span>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
