<div class="row mt30" kt-animate-panel child="hpanel">
    <div class="col-md-12 table-responsive">
        <div class="hpanel">
            <div class="panel-heading clfix">
                <h5 ng-if="otherIncome.id">编辑收益-<span ng-bind="::otherIncome.name"></span></h5>
                <h5 ng-if="!otherIncome.id">添加收益</h5>
            </div>
            <div class="panel-body clfix pr ov-h">
                <div class="form-body clfix">
                    <div class="col-md-9 col-md-offset-1" oc-lazy-load="['common/directives/datepicker/directive.js', 'common/directives/datepicker/theme/v2/style.css']">
                        <form name="otherIncomeForm" class="form-horizontal" method="post" id="otherIncomeForm" ng-submit="submitForm()">
                            <div class="form-group col-lg-12" ng-class="{'has-error':otherIncomeForm.name.$invalid && otherIncomeForm.name.$dirty}">
                                <label class="text-primary-dark col-md-4 control-label"><span class="ml5 f14 text-danger">*</span>收入名称</label>
                                <div class="col-md-8">
                                    <input placeholder="收入名称" type="text" required="required" ng-model="otherIncome.name"  class="form-control" name="name">
                                    <div class="mt5 text-danger" ng-messages="otherIncomeForm.name.$dirty && otherIncomeForm.name.$error">
                                        <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请输入收入名称</div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group col-lg-12" ng-class="{'has-error':otherIncomeForm.type.$invalid && otherIncomeForm.type.$dirty}">
                                <label class="text-primary-dark col-md-4 control-label"><span class="ml5 f14 text-danger">*</span>收益类型</label>
                                <div class="col-md-8">
                                    <input  placeholder="收益类型" type="text" required="required" ng-model="otherIncome.type"  class="form-control" name="type">
                                    <div class="mt5 text-danger" ng-messages="otherIncomeForm.type.$dirty && otherIncomeForm.type.$error">
                                        <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请输入收益类型</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-12" ng-class="{'has-error':otherIncomeForm.origin.$invalid && otherIncomeForm.origin.$dirty}">
                                <label class="text-primary-dark col-md-4 control-label"><span class="ml5 f14 text-danger">*</span>收益来源</label>
                                <div class="col-md-8">
                                    <input  placeholder="收益来源" type="text" required="required" ng-model="otherIncome.origin"  class="form-control" name="origin">
                                    <div class="mt5 text-danger" ng-messages="otherIncomeForm.origin.$dirty && otherIncomeForm.origin.$error">
                                        <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请输入收益来源</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-12" ng-class="{'has-error':otherIncomeForm.income_at.$invalid && otherIncomeForm.income_at.$dirty}">
                                <label class="text-primary-dark col-md-4 control-label"><span class="ml5 f14 text-danger">*</span>收益时间</label>
                                <div class="col-md-8">
                                    <input kt-date-picker datepicker-settings="datepickerSettings" placeholder="收益时间" type="text" required="required" ng-model="otherIncome.income_at"  class="form-control" name="income_at">
                                    <div class="mt5 text-danger" ng-messages="otherIncomeForm.income_at.$dirty && otherIncomeForm.income_at.$error">
                                        <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请输入收益时间</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-lg-12" ng-class="{'has-error':otherIncomeForm.amount.$invalid && otherIncomeForm.amount.$dirty}">
                                <label class="text-primary-dark col-md-4 control-label"><span class="ml5 f14 text-danger">*</span>收入名称</label>
                                <div class="col-md-8">
                                    <input placeholder="收入名称" type="text" required="required" ng-model="otherIncome.amount"  class="form-control" name="amount">
                                    <div class="mt5 text-danger" ng-messages="otherIncomeForm.amount.$dirty && otherIncomeForm.amount.$error">
                                        <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请输入收入名称</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-12" ng-class="{'has-error':otherIncomeForm.desc.$invalid && otherIncomeForm.desc.$dirty}">
                                <label class="text-primary-dark col-md-4 control-label"><span class="ml5 f14 text-danger">*</span>备注</label>
                                <div class="col-md-8">
                                    <textarea placeholder="备注" type="text" required="required" ng-model="otherIncome.desc" id="" class="form-control" name="desc"></textarea>
                                    <div class="mt5 text-danger" ng-messages="otherIncomeForm.desc.$dirty && otherIncomeForm.desc.$error">
                                        <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请输入备注</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                <div class="text-center">
                                    <div kt-loading-status height="32" width="32"></div>
                                </div>
                                <div class="col-md-8 col-md-offset-4">
                                    <button class="btn btn-navy-blue" ng-disabled="otherIncomeForm.$invalid || pendingRequests">保存更改</button>
                                    <button class="btn btn-default" ng-click="cancel($event)">取消</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
