<div class="pull-left m">
    <a ng-click="back()" class="btn btn-navy-blue">返回</a>
</div>
<div class="container">
    <div class="row  mt80">
        <div class="col-sm-4 col-sm-offset-2">
            <div class="pl80">
                <i class="pe-7s-way text-success big-icon"></i>
                <h1>502</h1>
                <strong>网关错误！</strong>
                <p>
                    无效网关！
                </p>
                <a ui-sref="home.index" class="btn btn-sm btn-success">返回首页</a>
            </div>
        </div>
    </div>
</div>
