<table class="table table-striped table-hover">
    <thead>
        <tr class="text-left">
            <th>批次</th>
            <th>还款期数</th>
            <th>还款日</th>
            <th>账单状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-right" ng-repeat="bill in bills">
            <th class="text-left" ng-bind="::bill.batch_no"></th>
            <td ng-bind="::bill.stage"></td>
            <td ng-bind="::bill.repayment_at"></td>
            <td ng-bind-html="getStatusNameNice(bill.status)"></td>
            <td class="text-center">
                <a ng-if="bill.status === 'finished'" class="tu" ui-sref="analytics.subProject.repayments.detail.list.table({batchNo: bill.batch_no})">
                    <span>查看明细</span>
                </a>
                <div ng-if="bill.status !== 'finished'">
                    <div class="btn btn-sm btn-dark btn-file">
                        提交借款名单
                        <input ngf-validate="{size: {max: '20MB'}" ngf-select="upload($files, $event, bill.batch_no)" ng-disabled="uploading" accept=".csv" ngf-multiple="false" type="file" name="file" ng-model="file">
                    </div>
                    <a class="tu">
                        <span>下载样例</span>
                    </a>
                </div>
            </td>
        </tr>
        <tr ng-if="(!bills.length || !bills) && !isLoading()">
            <td colspan="8" class="text-info text-center">
                <i class="pe-7s-attention f20 mr5"></i>
                <span class="f16">没有数据！</span>
            </td>
        </tr>
    </tbody>
</table>
