<div id="loanPlans" class="row" kt-animate-panel child="hpanel">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading clfix">
                <h5>还款账单列表</h5>
                <div class="actions fr">
                    <div class="btn-group btn-group-sm">
                        <label class="btn btn-dark" ng-model="radioPeriod" uib-btn-radio="radioPeriodLastWeek">
                            过去一周 
                        </label>
                        <label class="btn btn-dark" ng-model="radioPeriod" uib-btn-radio="radioPeriodLastMonth">
                            过去一月
                        </label>
                        <label class="btn btn-dark" ng-model="radioPeriod" uib-btn-radio="radioPeriodNextWeek">
                            未来一周 
                        </label>
                        <label class="btn btn-dark" ng-model="radioPeriod" uib-btn-radio="radioPeriodNextMonth">
                            未来一月
                        </label>
                        <label class="btn btn-dark" ng-model="radioPeriod" uib-btn-radio="radioPeriodAll">
                            全部 
                        </label>
                    </div>
                </div>
            </div>
            <div class="panel-body clfix">
                <div class="ov-h">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="chart-table">
                                <div class="table-responsive table-body" ui-view></div>
                            </div>
                        </div>
                    </div>
                    <uib-pagination total-items="params.totalItems" items-per-page="params.per_page" ng-change="pageChanged()" max-size="params.maxSize" ng-model="params.page" class="pagination-sm fr"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
