<div class="row" kt-animate-panel child="hpanel">
    <div class="col-lg-12 ">
        <div class="content-header clfix">
            <div class="btn-group btn-group-sm fr" oc-lazy-load="['common/directives/datepicker/directive.js', 'common/directives/datepicker/theme/v2/style.css']">
                <label class="btn btn-default" ng-model="radioPeriod" uib-btn-radio="radioPeriodLastMonth">上月</label>
                <label class="btn btn-default" ng-model="radioPeriod" uib-btn-radio="radioPeriodLast3Month">过去三月</label>
                <label class="btn btn-default" ng-model="radioPeriod" uib-btn-radio="radioPeriodLast6Month">过去六月</label>
                <label class="btn btn-default" ng-model="radioPeriod" uib-btn-radio="radioPeriodCustom" kt-date-picker batch-mode="month-range" single-month="false" extra-class="date-picker-analytics-top" show-week-numbers="true" auto-close="false" show-shortcuts="false">任意</label>
            </div>
        </div>
        <div class="hpanels">
            <div class="hpanel">
                <div class="panel-heading clfix">
                    <h5>期限分布</h5>
                    <div class="actions fr">
                        <div class="btn-group btn-group-sm">
                            <label class="btn btn-dark" ng-model="timeLimitChart.radioDataShowType" uib-btn-radio="'table'">
                                <i class="icon-lode">&#xe808;</i>
                            </label>
                            <label class="btn btn-dark" ng-model="timeLimitChart.radioDataShowType" uib-btn-radio="'chart'">
                                <i class="icon-lode">&#xe806;</i>
                            </label>
                        </div>
                        <a class="download-data f18 ml5 pr10 pl10 va-2">
                            <i class="glyphicon glyphicon-download-alt"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-body clfix pr ov-h"  oc-lazy-load="['common/directives/kt-echart-directive.js','common/directives/kt-linemenu-directive.js']">
                    <div class="chart-table">
                        <div class="chart-table-heading clfix">
                            <div class="dropdown fl" dropdown>
                                <div dropdown-toggle class="dropdown-toggle cp">
                                    <span ng-bind="timeLimitChart.chartDimension || '时点余额'"></span><b class="icon-lode icon-arrow">&#xe805;</b>
                                </div>
                                <div class="dropdown-menu animated fadeIn m-t-xs">
                                    <ul>
                                        <li ng-class="{active: timeLimitChart.chartDimension == '时点余额'}"><a ng-click="timeLimitChart.chartDimension = '时点余额'" title="时点余额">时点余额</a></li>
                                        <li ng-class="{active: timeLimitChart.chartDimension == '新增成交'}"><a ng-click="timeLimitChart.chartDimension = '新增成交'" title="新增成交">新增成交</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="chart-table-menu fr">
                                <div kt-line-menu menu-data="timeLimitChart.menuData">
                                    <a href="javascript:;" ng-class="{active: timeLimitChart.menuData.index == 0}" class="child" menu-value="absolute">绝对值</a>
                                    <a href="javascript:;" ng-class="{active: timeLimitChart.menuData.index == 1}" class="child" menu-value="percent">百分比</a>
                                    <span class="line"></span>
                                </div>
                            </div>
                        </div>
                        <div class="chart-table-body" ng-show="timeLimitChart.radioDataShowType == 'chart'">
                            <div kt-echart chart-options="timeLimitChart.chartOptions" style="height:400px;">
                            </div>
                        </div>
                        <div class="chart-table-body" ng-show="timeLimitChart.radioDataShowType == 'table'">
                            <div class="table-responsive table-body">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr class="text-left">
                                            <th>期限分布</th>
                                            <th ng-repeat="date in data.dates" ng-bind="date"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-right">
                                            <tr class="text-right" ng-repeat="item in timeLimitChart.list" ng-show="timeLimitChart.menuData.index === 0">
                                                <th class="text-left" ng-bind="::item.name"></th>
                                                <td ng-repeat="value in item.data track by $index" ng-bind="(value | ktNumberLocate)"></td>
                                            </tr>
                                            <tr class="text-right" ng-repeat="item in timeLimitChart.list" ng-show="timeLimitChart.menuData.index === 1">
                                                <th class="text-left" ng-bind="::item.name"></th>
                                                <td ng-repeat="value in item.data track by $index" ng-bind="(value * 100 | number:2) + '%'"></td>
                                            </tr>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hpanel">
                <div class="panel-heading clfix">
                    <h5>额度分布</h5>
                    <div class="actions fr">
                        <div class="btn-group btn-group-sm">
                            <label class="btn btn-dark" ng-model="amountChart.radioDataShowType" uib-btn-radio="'table'">
                                <i class="icon-lode">&#xe808;</i>
                            </label>
                            <label class="btn btn-dark" ng-model="amountChart.radioDataShowType" uib-btn-radio="'chart'">
                                <i class="icon-lode">&#xe806;</i>
                            </label>
                        </div>
                        <a class="download-data f18 ml5 pr10 pl10 va-2">
                            <i class="glyphicon glyphicon-download-alt"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-body clfix pr ov-h"  oc-lazy-load="['common/directives/kt-echart-directive.js','common/directives/kt-linemenu-directive.js']">
                    <div class="chart-table">
                        <div class="chart-table-heading clfix">
                            <div class="dropdown fl" dropdown>
                                <div dropdown-toggle class="dropdown-toggle cp">
                                    <span ng-bind="amountChart.chartDimension || '时点余额'"></span><b class="icon-lode icon-arrow">&#xe805;</b>
                                </div>
                                <div class="dropdown-menu animated fadeIn m-t-xs">
                                    <ul>
                                        <li ng-class="{active: amountChart.chartDimension == '时点余额'}"><a ng-click="amountChart.chartDimension = '时点余额'" title="时点余额">时点余额</a></li>
                                        <li ng-class="{active: amountChart.chartDimension == '新增成交'}"><a ng-click="amountChart.chartDimension = '新增成交'" title="新增成交">新增成交</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="chart-table-menu fr">
                                <div kt-line-menu menu-data="amountChart.menuData">
                                    <a href="javascript:;" ng-class="{active: amountChart.menuData.index == 0}" class="child" menu-value="absolute">绝对值</a>
                                    <a href="javascript:;" ng-class="{active: amountChart.menuData.index == 1}" class="child" menu-value="percent">百分比</a>
                                    <span class="line"></span>
                                </div>
                            </div>
                        </div>
                        <div class="chart-table-body" ng-show="amountChart.radioDataShowType == 'chart'">
                            <div kt-echart chart-options="amountChart.chartOptions" style="height:400px;">
                            </div>
                        </div>
                        <div class="chart-table-body" ng-show="amountChart.radioDataShowType == 'table'">
                            <div class="table-responsive table-body">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr class="text-left">
                                            <th>额度</th>
                                            <th ng-repeat="date in data.dates" ng-bind="date"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-right">
                                            <tr class="text-right" ng-repeat="item in amountChart.list" ng-show="amountChart.menuData.index === 0">
                                                <th class="text-left" ng-bind="::item.name"></th>
                                                <td ng-repeat="value in item.data track by $index" ng-bind="(value | ktNumberLocate)"></td>
                                            </tr>
                                            <tr class="text-right" ng-repeat="item in amountChart.list" ng-show="amountChart.menuData.index === 1">
                                                <th class="text-left" ng-bind="::item.name"></th>
                                                <td ng-repeat="value in item.data track by $index" ng-bind="(value * 100 | number:2) + '%'"></td>
                                            </tr>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="hpanel">
                <div class="panel-heading clfix">
                    <h5>类型分布</h5>
                    <div class="actions fr">
                        <div class="btn-group btn-group-sm">
                            <label class="btn btn-dark" ng-model="typeChart.radioDataShowType" uib-btn-radio="'table'">
                                <i class="icon-lode">&#xe808;</i>
                            </label>
                            <label class="btn btn-dark" ng-model="typeChart.radioDataShowType" uib-btn-radio="'chart'">
                                <i class="icon-lode">&#xe806;</i>
                            </label>
                        </div>
                        <a class="download-data f18 ml5 pr10 pl10 va-2">
                            <i class="glyphicon glyphicon-download-alt"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-body clfix pr ov-h"  oc-lazy-load="['common/directives/kt-echart-directive.js','common/directives/kt-linemenu-directive.js']">
                    <div class="chart-table">
                        <div class="chart-table-heading clfix">
                            <div class="dropdown fl" dropdown>
                                <div dropdown-toggle class="dropdown-toggle cp">
                                    <span ng-bind="typeChart.chartDimension || '时点余额'"></span><b class="icon-lode icon-arrow">&#xe805;</b>
                                </div>
                                <div class="dropdown-menu animated fadeIn m-t-xs">
                                    <ul>
                                        <li ng-class="{active: typeChart.chartDimension == '时点余额'}"><a ng-click="typeChart.chartDimension = '时点余额'" title="时点余额">时点余额</a></li>
                                        <li ng-class="{active: typeChart.chartDimension == '新增成交'}"><a ng-click="typeChart.chartDimension = '新增成交'" title="新增成交">新增成交</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="chart-table-menu fr">
                                <div kt-line-menu menu-data="typeChart.menuData">
                                    <a href="javascript:;" ng-class="{active: typeChart.menuData.index == 0}" class="child" menu-value="absolute">绝对值</a>
                                    <a href="javascript:;" ng-class="{active: typeChart.menuData.index == 1}" class="child" menu-value="percent">百分比</a>
                                    <span class="line"></span>
                                </div>
                            </div>
                        </div>
                        <div class="chart-table-body" ng-show="typeChart.radioDataShowType == 'chart'">
                            <div kt-echart chart-options="typeChart.chartOptions" style="height:400px;">
                            </div>
                        </div>
                        <div class="chart-table-body" ng-show="typeChart.radioDataShowType == 'table'">
                            <div class="table-responsive table-body">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr class="text-left">
                                            <th>类型</th>
                                            <th ng-repeat="date in data.dates" ng-bind="date"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-right">
                                            <tr class="text-right" ng-repeat="item in typeChart.list" ng-show="typeChart.menuData.index === 0">
                                                <th class="text-left" ng-bind="::item.name"></th>
                                                <td ng-repeat="value in item.data track by $index" ng-bind="(value | ktNumberLocate)"></td>
                                            </tr>
                                            <tr class="text-right" ng-repeat="item in typeChart.list" ng-show="typeChart.menuData.index === 1">
                                                <th class="text-left" ng-bind="::item.name"></th>
                                                <td ng-repeat="value in item.data track by $index" ng-bind="(value * 100 | number:2) + '%'"></td>
                                            </tr>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="hpanel">
                <div class="panel-heading clfix">
                    <h5>地理分布</h5>
                    <div class="dropdown fl ml25" dropdown>
                        <div dropdown-toggle class="dropdown-toggle cp">
                            <span ng-bind="locationChart.topDimension || 'Top5'"></span><b class="icon-lode icon-arrow">&#xe805;</b>
                        </div>
                        <div class="dropdown-menu animated fadeIn m-t-xs">
                            <ul>
                                <li ng-class="{active: locationChart.topDimension == 'Top5'}"><a ng-click="locationChart.topDimension = 'Top5'" title="Top5">Top5</a></li>
                                <li ng-class="{active: locationChart.topDimension == 'Top10'}"><a ng-click="locationChart.topDimension = 'Top10'" title="Top10">Top10</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="actions fr">
                        <div class="btn-group btn-group-sm">
                            <label class="btn btn-dark" ng-model="locationChart.radioDataShowType" uib-btn-radio="'table'">
                                <i class="icon-lode">&#xe808;</i>
                            </label>
                            <label class="btn btn-dark" ng-model="locationChart.radioDataShowType" uib-btn-radio="'chart'">
                                <i class="icon-lode">&#xe806;</i>
                            </label>
                        </div>
                        <a class="download-data f18 ml5 pr10 pl10 va-2">
                            <i class="glyphicon glyphicon-download-alt"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-body clfix pr ov-h"  oc-lazy-load="['common/directives/kt-echart-directive.js','common/directives/kt-linemenu-directive.js']">
                    <div class="chart-table">
                        <div class="chart-table-heading clfix">
                            <div class="dropdown fl" dropdown>
                                <div dropdown-toggle class="dropdown-toggle cp">
                                    <span ng-bind="locationChart.chartDimension || '时点余额'"></span><b class="icon-lode icon-arrow">&#xe805;</b>
                                </div>
                                <div class="dropdown-menu animated fadeIn m-t-xs">
                                    <ul>
                                        <li ng-class="{active: locationChart.chartDimension == '时点余额'}"><a ng-click="locationChart.chartDimension = '时点余额'" title="时点余额">时点余额</a></li>
                                        <li ng-class="{active: locationChart.chartDimension == '新增成交'}"><a ng-click="locationChart.chartDimension = '新增成交'" title="新增成交">新增成交</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="chart-table-menu fr">
                                <div kt-line-menu menu-data="locationChart.menuData">
                                    <a href="javascript:;" ng-class="{active: locationChart.menuData.index == 0}" class="child" menu-value="absolute">绝对值</a>
                                    <a href="javascript:;" ng-class="{active: locationChart.menuData.index == 1}" class="child" menu-value="percent">百分比</a>
                                    <span class="line"></span>
                                </div>
                            </div>
                        </div>
                        <div class="chart-table-body" ng-show="locationChart.radioDataShowType == 'chart'">
                            <div kt-echart chart-options="locationChart.chartOptions" style="height:400px;">
                            </div>
                        </div>
                        <div class="chart-table-body" ng-show="locationChart.radioDataShowType == 'table'">
                            <div class="table-responsive table-body">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr class="text-left">
                                            <th>类型</th>
                                            <th ng-repeat="date in data.dates" ng-bind="date"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-right">
                                            <tr class="text-right" ng-repeat="item in locationChart.list" ng-show="locationChart.menuData.index === 0">
                                                <th class="text-left" ng-bind="::item.name"></th>
                                                <td ng-repeat="value in item.data track by $index" ng-bind="(value | ktNumberLocate)"></td>
                                            </tr>
                                            <tr class="text-right" ng-repeat="item in locationChart.list" ng-show="locationChart.menuData.index === 1">
                                                <th class="text-left" ng-bind="::item.name"></th>
                                                <td ng-repeat="value in item.data track by $index" ng-bind="(value * 100 | number:2) + '%'"></td>
                                            </tr>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
