<table class="table table-striped table-hover">
    <thead>
        <tr class="text-left">
            <th>项目名称</th>
            <th>累计期初投放额</th>
            <th>责任余额</th>
            <th>累计成交金额</th>
            <th>总收益</th>
            <th>平均贷款期限</th>
            <th>逾期率 <i tooltip-append-to-body="true" tooltip-placement="top" uib-tooltip="0，180" class="icon-lode icon-info f12 opacity-0_5"></i></th>
            <th>不良率 <i tooltip-append-to-body="true" tooltip-placement="top" uib-tooltip="0，90" class="icon-lode icon-info f12 opacity-0_5"></i></th>
            <th>单笔额度</th>
            <th>笔数</th>
            <th>累计贷款人数</th>
            <th>人均贷款金额</th>
            <th>相关项目</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-right" ng-repeat="institution in institutions">
            <th class="text-left" ng-bind="::institution.name"></th>
            <td ng-bind="::institution.putin_amount | ktNumberLocate"></td>
            <td ng-bind="::institution.remain_amount | ktNumberLocate"></td>
            <td ng-bind="::institution.transaction_amount | ktNumberLocate"></td>
            <td ng-bind="::institution.total_revenue | ktNumberLocate"></td>
            <td ng-bind="::(institution.avg_duration + '天')"></td>
            <td ng-bind="::(institution.overdue_rate * 100 | number:2) + '%'"></td>
            <td ng-bind="::(institution.bad_rate * 100 | number:2) + '%'"></td>
            <td ng-bind="::institution.individual_amount | ktNumberLocate"></td>
            <td ng-bind="::institution.numbers"></td>
            <td ng-bind="::institution.borrowers_number"></td>
            <td ng-bind="::institution.avg_amount | ktNumberLocate"></td>
            <td class="text-center">
                <a class="tu" ui-sref="analytics.projects.list.table({institution_id: institution.id})">查看</a>
            </td>
        </tr>
        <tr ng-if="(!institutions.length || !institutions) && !isLoading()">
            <td colspan="9" class="text-info text-center">
                <i class="pe-7s-attention f20 mr5"></i>
                <span class="f16">没有数据！</span>
            </td>
        </tr>
    </tbody>
</table>
