<div id="asset" class="row" kt-animate-panel child="hpanel">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-body">
                <div class="col-md-10 col-md-offset-1">
                    <form name="assetsOrderForm" class="form-horizontal" method="post" id="assetsOrderForm" ng-submit="submitForm()">
                        <div class="form-group col-lg-12 {{spinAmountOption.unit}}" ng-class="{'has-error':assetsOrderForm.amount_locate.$invalid && assetsOrderForm.amount_locate.$dirty}">
                            <label class="text-primary-dark col-md-2 control-label">预约金额<span class="f14 text-danger">*</span></label>
                            <div class="col-md-6">
                                <!-- <input placeholder="您的预约金额" type="number" min="{{asset.min_amount_locate}}" max="{{asset.amonut}}" required="required" ng-model="assetOrder.amount_locate" id="" class="form-control" name="amount_locate"> -->
                                <input placeholder="{{asset.min_amount | ktNumberLocate}}起" kt-touch-spin spin-options="spinAmountOption" type="text" required="required" ng-model="assetOrder.amount_locate" id="" class="form-control" name="amount_locate">
                                <div class="mt5 text-danger" ng-messages="assetsOrderForm.amount_locate.$dirty && assetsOrderForm.amount_locate.$error">
                                    <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请输入预约金额</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <span class="silver ib" ng-bind-html="'最多可预约' + (asset.unallocated_amount | ktNumberLocate) + '，必须为100' + spinAmountOption.postfix+ '的整数倍'">
                                   
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-lg-12" ng-class="{'has-error':assetsOrderForm.annual_rate.$invalid && assetsOrderForm.annual_rate.$dirty}">
                            <label class="text-primary-dark col-md-2 control-label">
                            <i class="fa fa-info-circle" tooltip-placement="left" tooltip="这里是提示。。。。，不知道提示有多少"></i>
                            收益率
                            <span class="f14 text-danger">*</span></label>
                            <div class="col-md-6">
                                <input placeholder="必须小于等于{{asset.highest_rate}}" kt-touch-spin spin-options="spinRateOption" type="text" min="0" max="{{asset.highest_rate}}" required="required" ng-model="assetOrder.annual_rate" id="" class="form-control" name="annual_rate">
                                <div class="mt5 text-danger" ng-messages="assetsOrderForm.annual_rate.$dirty && assetsOrderForm.annual_rate.$error">
                                    <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请输入收益率</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <span class="silver ib">该值设置的越低，成交概率越高, 步长0.01</span>
                            </div>
                        </div>
                        <div class="form-group col-lg-12" ng-class="{'has-error':assetsOrderForm.published_at.$invalid && assetsOrderForm.published_at.$dirty}">
                            <label class="text-primary-dark col-md-2 control-label">
                            <i class="fa fa-info-circle" tooltip-placement="left" tooltip="以自然周为单位，默认为发行时间所在周。可分布向前、后调4周。"></i>
                                期望起息日<span class="f14 text-danger">*</span></label>
                            <div class="col-md-6">
                                <select required class="form-control m-b" name="published_at" ng-model="published_at" ng-options="f for f in dateList track by f">
                                    
                                </select>
                                <div class="mt5 text-danger" ng-messages="assetsOrderForm.published_at.$dirty && assetsOrderForm.published_at.$error">
                                    <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请输入结束日期</div>
                                </div>
                                <!-- <ui-select ng-model="person.selected" theme="bootstrap" ng-disabled="disabled">
                                    <ui-select-match placeholder="选择计划上线">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="person in people | ktPropsFilter: {name: $select.search, age: $select.search}">
                                        <div ng-bind-html="person.name | highlight: $select.search"></div>
                                            email: {{person.email}}
                                            age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select> -->
                                <!-- <input readonly kt-date-picker options="options" type="text" placeholder="计划上线日期" class="form-control" ng-required="true" name="published_at" /> -->
                                <!-- <p class="input-group">
                                    <input readonly type="text" placeholder="起始日期" class="form-control" datepicker-popup="{{format}}" ng-model="published_at_start" is-open="startOpened" min-date="minDate" datepicker-options="dateOptions" close-text="关闭" current-text="今天" clear-text="清空" ng-required="true" name="published_at_start" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                    <input readonly type="text" placeholder="结束日期" class="form-control" datepicker-popup="{{format}}" ng-model="published_at_end" is-open="endOpened" min-date="minDate" datepicker-options="dateOptions" close-text="关闭" current-text="今天" clear-text="清空" ng-required="true" name="published_at_end" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                    <div class="mt5 text-danger" ng-messages="assetsOrderForm.published_at_start.$dirty && assetsOrderForm.published_at_start.$error">
                                        <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请输入开始日期</div>
                                    </div>
                                    <div class="mt5 text-danger" ng-messages="assetsOrderForm.published_at_end.$dirty && assetsOrderForm.published_at_end.$error">
                                        <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请输入结束日期</div>
                                    </div>
                                </p> -->
                            </div>
                            <div class="col-md-4">
                                <span class="silver ib">预计发行时间：
                                    <span ng-bind="asset.value_at"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <div class="text-center">
                                <div kt-loading-status height="32" width="32"></div>
                            </div>
                            <div class="col-md-4 col-md-offset-3">
                                <button class="btn btn-navy-blue" ng-disabled="assetsOrderForm.$invalid || pendingRequests">提交预定</button>
                                <button class="btn btn-default" ng-click="cancel($event)">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
