<div class="hpanel dash-padding bg-white">
    <div class="panel-heading center clfix">
        <h5 class="title-top">概况</h5>
    </div>
    <div class="panel-body clfix pr ov-h">
        <div class="table-responsive table-body">
            <table class="table">
                <thead>
                    <tr class="text-left dash-title">
                        <th>资金池本金金额</th>
                        <th>资金池初始贷款规模</th>
                        <th>预计总收益</th>
                        <th>贷款人数</th>
                        <th>贷款笔数</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="dashfont" ng-if="summary_stat && !isLoading()">
                        <td class="f16 mt20 fb" ng-bind="(summary_stat.sum_prncp_balns | number:0) + ' 元'"></td>
                        <td class="f16 mt20 fb" ng-bind="(summary_stat.sum_loan_amnt | number:0) + ' 元'"></td>
                        <td class="f16 mt20 fb">-- </td>
                        <td class="f16 mt20 fb" ng-bind="(summary_stat.borrower_count | number:0) + ' 次'"></td>
                        <td class="f16 mt20 fb" ng-bind="((summary_stat.loan_count | number:0))+' 笔'"></td>
                    </tr>
                    <tr ng-if="!summary_stat && !isLoading()">
                        <td colspan="5" class="text-info text-center">
                            <i class="pe-7s-attention f20 mr5"></i>
                            <span class="f16">没有数据！</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="sum clfix">
    <div class="margin1 col-md-4 col-sm-6">
        <div class="sub">
            <div class="sub-title">
                <div class="hh">
                    <span>贷款金额</span>
                    <span class="span2">
                        <a ui-sref="analytics.project.debtors.list.table">
                            <i class="fa sub-dash-fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="cont">
                <table width="100%">
                    <tr>
                        <td class="tdright" nowrap="nowrap">单笔贷款最高金额</td>
                        <td class="td1" nowrap="nowrap" ng-bind="(loan_amnt_stat.max_loan_amnt | ktNumber:2)"></td>
                        <td class="span4-font">元</td>
                    </tr>
                    <tr>
                        <td class="tdright" nowrap="nowrap">单笔贷款最少金额</td>
                        <td class="td1" nowrap="nowrap" ng-bind="(loan_amnt_stat.min_loan_amnt | ktNumber:2)"></td>
                        <td class="span4-font">元</td>
                    </tr>
                    <tr>
                        <td class="tdright" nowrap="nowrap">单笔贷款平均金额</td>
                        <td class="td1" nowrap="nowrap" ng-bind="(loan_amnt_stat.avg_loan_amnt | ktNumber:2)"></td>
                        <td class="span4-font">元</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="margin1 col-md-4 col-sm-6">
        <div class="sub">
            <div class="sub-title">
                <div class="hh">
                    <span>贷款利率</span>
                    <span class="span2">
                        <a ui-sref="analytics.project.debtors.list.table">
                            <i class="fa sub-dash-fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                     </span>
                </div>
            </div>
            <div class="cont">
                <table width="100%">
                    <tr>
                        <td class="tdright">贷款最低利率</td>
                        <td class="td1" ng-bind="(interest_rate_stat.min_interest_rate*100 |ktNumber:2)"></td>
                        <td class="span4-font">%</td>
                    </tr>
                    <tr>
                        <td class="tdright">贷款最高利率</td>
                        <td class="td1" ng-bind="(interest_rate_stat.max_interest_rate*100 | ktNumber:2)"></td>
                        <td class="span4-font">%</td>
                    </tr>
                    <tr>
                        <td class="tdright">贷款加权平均利率</td>
                        <td class="td1" ng-bind="(interest_rate_stat.loan_amnt_weighted_avg_interest_rate*100 | ktNumber:2)"></td>
                        <td class="span4-font">%</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="margin1 col-md-4 col-sm-6">
        <div class="sub">
            <div class="sub-title">
                <div class="hh">
                    <span>贷款期限</span>
                    <span class="span2">
                        <a ui-sref="analytics.project.asset.feature">
                            <i class="fa sub-dash-fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                     </span>
                </div>
            </div>
            <div class="cont">
                <table width="100%">
                    <tr>
                        <td class="tdright">贷款最短期限</td>
                        <td class="td1" ng-bind="(term_stat.min_term | number:0)"></td>
                        <td class="span4-font">个月</td>
                    </tr>
                    <tr>
                        <td class="tdright">贷款最长期限</td>
                        <td class="td1" ng-bind="(term_stat.max_term | number:0)"></td>
                        <td class="span4-font">个月</td>
                    </tr>
                    <tr>
                        <td class="tdright">贷款加权平均期限</td>
                        <td class="td1" ng-bind="(term_stat.loan_amnt_weighted_avg_term| ktNumber:2)"></td>
                        <td class="span4-font">个月</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="margin1 col-md-4 col-sm-6">
        <div class="sub">
            <div class="sub-title">
                <div class="hh">
                    <span>剩余期限</span>
                    <span class="span2">
                        <a ui-sref="analytics.project.asset.feature">
                            <i class="fa sub-dash-fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                     </span>
                </div>
            </div>
            <div class="cont">
                <table width="100%">
                    <tr>
                        <td class="tdright">贷款最短剩余期限</td>
                        <td class="td1" ng-bind="(term_stat.min_remaining_term | ktNumber:2)"></td>
                        <td class="span4-font">个月</td>
                    </tr>
                    <tr>
                        <td class="tdright">贷款最长剩余期限</td>
                        <td class="td1" ng-bind="(term_stat.max_remaining_term | ktNumber:2)"></td>
                        <td class="span4-font">个月</td>
                    </tr>
                    <tr>
                        <td class="tdright">贷款加权平均剩余期限</td>
                        <td class="td1" ng-bind="(term_stat.prncp_balns_weighted_avg_remaining_term | ktNumber:2)"></td>
                        <td class="span4-font">个月</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="hpanel dash-padding bg-white h-margin">
    <div class="panel-heading center clfix">
        <h5 class="title-top">逾期概况
           <span class="span2">
             <a ui-sref="analytics.project.risk.overdue">
              <i class="fa dash-fa fa-angle-right" aria-hidden="true"></i>
            </a>
          </span>
        </h5>
    </div>
    <div class="panel-body clfix pr ov-h">
        <div class="table-responsive table-body">
            <table class="table table-striped">
                <thead>
                    <tr class="text-left">
                        <th>状态</th>
                        <th>借款笔数</th>
                        <th>平均总期限</th>
                        <th>平均剩余期限</th>
                        <th>剩余本金</th>
                        <th>逾期本金</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="dashfont text-right " ng-repeat="item in overdue_stat">
                        <th class="text-center dash-th" ng-bind="::item.status"></th>
                        <td ng-bind="(item.loan_count| number:0)+ ' 次'"></td>
                        <td ng-bind="(item.loan_amnt_weighted_avg_term | ktNumber:2) + ' 个月'"></td>
                        <td ng-bind="(item.prncp_balns_weighted_avg_remaining_term| ktNumber:2) + ' 个月'"></td>
                        <td ng-bind="(item.avg_prncp_balns| number:0) + ' 元'"></td>
                        <td ng-bind="(item.overdue_prncp| number:0) + ' 元'"></td>
                    </tr>
                    <tr ng-if="!overdue_stat && !isLoading()">
                        <td colspan="6" class="text-info text-center">
                            <i class="pe-7s-attention f20 mr5"></i>
                            <span class="f16">没有数据！</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
