<div class="row" kt-animate-panel child="hpanel" effect="zoomIn" delay="0.1">
    <div class="col-lg-12 ">
        <div class="hpanel">
            <div class="panel-heading clfix">
                <h5>总览</h5>
            </div>
            <div class="panel-body clfix pr ov-h">
                <div class="dashboard-table">
                    <div class="row" ng-if="stat_summary.length">
                        <div class="td col-md-1-5 text-center">
                            <h6>项目授信额</h6>
                            <div class="f16 mt20 fb" ng-bind="stat_summary[0] | ktNumberLocate">
                            </div>
                        </div>
                        <div class="td col-md-1-5 text-center">
                            <h6>累计成交金额</h6>
                            <div class="f16 mt20 fb" ng-bind="stat_summary[1] | ktNumberLocate">
                            </div>
                        </div>
                        <div class="td col-md-1-5 text-center">
                            <h6>累计成交笔数</h6>
                            <div class="f16 mt20 fb" ng-bind="(stat_summary[2] | number:0) + '笔'">
                            </div>
                        </div>
                        <div class="td col-md-1-5 text-center">
                            <h6>累计借款人数</h6>
                            <div class="f16 mt20 fb" ng-bind="(stat_summary[3] | number:0) + '人'">
                            </div>
                        </div>
                        <div class="col-md-1-5 text-center">
                            <h6>逾期率</h6>
                            <div class="f16 mt20 fb" ng-bind="((stat_summary[4] * 100) | number:2)+ '%'">
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="!stat_summary.length && !isLoading()">
                        <div class="col-md-12 text-center text-info">
                            <i class="pe-7s-attention f20 mr5"></i>
                            <span class="f16">没有数据！</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hpanel">
            <div class="panel-heading clfix">
                <h5>自有资金</h5>
                <div class="actions fr">
                    <div class="btn-group btn-group-sm">
                        <label class="btn btn-dark" ng-model="ownFunds.radioDataShowType" uib-btn-radio="'all'">
                            总体
                        </label>
                        <label class="btn btn-dark" ng-model="ownFunds.radioDataShowType" uib-btn-radio="'single'">
                            子项目
                        </label>
                    </div>
                    <!-- <a class="download-data f18 ml5 pr10 pl10 va-2">
                        <i class="glyphicon glyphicon-download-alt"></i>
                    </a> -->
                </div>
            </div>
            <div class="panel-body clfix pr ov-h">
                <div class="chart-table" ng-show="ownFunds.radioDataShowType == 'all'">
                    <div class="table-responsive table-body">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr class="text-left">
                                    <th ng-repeat="name in ownFunds.fieldNames">
                                        <span ng-bind="name"></span>
                                        <i ng-if="ownFunds.fieldNameTips[$index]" tooltip-append-to-body="true" tooltip-placement="top" uib-tooltip="{{ownFunds.fieldNameTips[$index]}}" class="icon-lode icon-info f12 opacity-0_5"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-right" ng-if="self_owned_capital_stat_summary.length">
                                    <!-- <th class="text-left" ng-bind="own.name"></th> -->
                                    <td ng-bind="self_owned_capital_stat_summary[0] | ktNumberLocate"></td>
                                    <td ng-bind="self_owned_capital_stat_summary[1] | ktNumberLocate"></td>
                                    <td ng-bind="self_owned_capital_stat_summary[2] | ktNumberLocate"></td>
                                    <td ng-bind="(self_owned_capital_stat_summary[3] * 100 | number:2) + '%'"></td>
                                    <td ng-bind="(self_owned_capital_stat_summary[4] * 100 | number:2) + '%'"></td>
                                    <td ng-bind="(self_owned_capital_stat_summary[5] * 100 | number:2) + '%'"></td>
                                    <td ng-bind="self_owned_capital_stat_summary[6] | ktNumberLocate"></td>
                                    <td ng-bind="self_owned_capital_stat_summary[7] | ktNumberLocate"></td>
                                    <td ng-bind="self_owned_capital_stat_summary[8] | ktNumberLocate"></td>
                                    <td ng-bind="self_owned_capital_stat_summary[9] | ktNumberLocate"></td>
                                </tr>
                                <tr ng-if="!self_owned_capital_stat_summary.length && !isLoading()">
                                    <td colspan="10" class="text-info text-center">
                                        <i class="pe-7s-attention f20 mr5"></i>
                                        <span class="f16">没有数据！</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="chart-table" ng-show="ownFunds.radioDataShowType == 'single'">
                    <div class="table-responsive table-body">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr class="text-left">
                                    <th>子项目</th>
                                    <th ng-repeat="name in ownFunds.fieldNames">
                                        <span ng-bind="name"></span>
                                        <i ng-if="ownFunds.fieldNameTips[$index]" tooltip-append-to-body="true" tooltip-placement="top" uib-tooltip="{{ownFunds.fieldNameTips[$index]}}" class="icon-lode icon-info f12 opacity-0_5"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-right" ng-repeat="ofd in self_owned_capital_stat_details" ng-if="self_owned_capital_stat_details.length">
                                    <th class="text-left" ng-bind="ofd.name"></th>
                                    <td ng-bind="ofd.data[0] | ktNumberLocate"></td>
                                    <td ng-bind="ofd.data[1] | ktNumberLocate"></td>
                                    <td ng-bind="ofd.data[2] | ktNumberLocate"></td>
                                    <td ng-bind="(ofd.data[3] * 100 | number:2) + '%'"></td>
                                    <td ng-bind="(ofd.data[4] * 100 | number:2) + '%'"></td>
                                    <td ng-bind="(ofd.data[5] * 100 | number:2) + '%'"></td>
                                    <td ng-bind="ofd.data[6] | ktNumberLocate"></td>
                                    <td ng-bind="ofd.data[7] | ktNumberLocate"></td>
                                    <td ng-bind="ofd.data[8] | ktNumberLocate"></td>
                                    <td ng-bind="ofd.data[9] | ktNumberLocate"></td>
                                </tr>
                                <tr ng-if="!self_owned_capital_stat_details.length && !isLoading()">
                                    <td colspan="11" class="text-info text-center">
                                        <i class="pe-7s-attention f20 mr5"></i>
                                        <span class="f16">没有数据！</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="hpanel">
            <div class="panel-heading clfix">
                <h5>担保贷款</h5>
                <div class="actions fr">
                    <div class="btn-group btn-group-sm">
                        <label class="btn btn-dark" ng-model="guaranteeLoan.radioDataShowType" uib-btn-radio="'all'">
                            总体
                        </label>
                        <label class="btn btn-dark" ng-model="guaranteeLoan.radioDataShowType" uib-btn-radio="'single'">
                            子项目
                        </label>
                    </div>
                    <!-- <a class="download-data f18 ml5 pr10 pl10 va-2">
                        <i class="glyphicon glyphicon-download-alt"></i>
                    </a> -->
                </div>
            </div>
            <div class="panel-body clfix pr ov-h">
                <div class="chart-table" ng-show="guaranteeLoan.radioDataShowType == 'all'">
                    <div class="table-responsive table-body">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr class="text-left">
                                    <th ng-repeat="name in guaranteeLoan.fieldNames">
                                        <span ng-bind="name"></span>
                                        <i ng-if="guaranteeLoan.fieldNameTips[$index]" tooltip-append-to-body="true" tooltip-placement="top" uib-tooltip="{{guaranteeLoan.fieldNameTips[$index]}}" class="icon-lode icon-info f12 opacity-0_5"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-right" ng-if="guarantee_loan_total.length">
                                    <!-- <th class="text-left" ng-bind="own.name"></th> -->
                                    <td ng-bind="guarantee_loan_total[0] | ktNumberLocate"></td>
                                    <td ng-bind="guarantee_loan_total[1] | ktNumberLocate"></td>
                                    <td ng-bind="guarantee_loan_total[2] | ktNumberLocate"></td>
                                    <td ng-bind="(guarantee_loan_total[3] * 100 | number:2) + '%'"></td>
                                    <td ng-bind="(guarantee_loan_total[4] * 100 | number:2) + '%'"></td>
                                    <td ng-bind="(guarantee_loan_total[4] * 100 | number:2) + '%'"></td>
                                    <td ng-bind="guarantee_loan_total[5] | ktNumberLocate"></td>
                                    <td ng-bind="(guarantee_loan_total[6] * 100 | number:2) + '%'"></td>
                                    <td ng-bind="guarantee_loan_total[7] | ktNumberLocate"></td>
                                    <td ng-bind="guarantee_loan_total[7] | ktNumberLocate"></td>
                                    <td ng-bind="guarantee_loan_total[8] | ktNumberLocate"></td>
                                </tr>
                                <tr ng-if="!guarantee_loan_total.length && !isLoading()">
                                    <td colspan="9" class="text-info text-center">
                                        <i class="pe-7s-attention f20 mr5"></i>
                                        <span class="f16">没有数据！</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="chart-table" ng-show="guaranteeLoan.radioDataShowType == 'single'">
                    <div class="table-responsive table-body">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr class="text-left">
                                    <th>子项目</th>
                                    <th ng-repeat="name in guaranteeLoan.fieldNames">
                                        <span ng-bind="name"></span>
                                        <i ng-if="guaranteeLoan.fieldNameTips[$index]" tooltip-append-to-body="true" tooltip-placement="top" uib-tooltip="{{guaranteeLoan.fieldNameTips[$index]}}" class="icon-lode icon-info f12 opacity-0_5"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-right" ng-repeat="ofd in guarantee_loan_detail" ng-if="guarantee_loan_detail.length">
                                    <th class="text-left" ng-bind="ofd.name"></th>
                                    <td ng-bind="ofd.data[0] | ktNumberLocate"></td>
                                    <td ng-bind="ofd.data[1] | ktNumberLocate"></td>
                                    <td ng-bind="ofd.data[2] | ktNumberLocate"></td>
                                    <td ng-bind="(ofd.data[3] * 100 | number:2) + '%'"></td>
                                    <td ng-bind="(ofd.data[4] * 100 | number:2) + '%'"></td>
                                    <td ng-bind="ofd.data[5] | ktNumberLocate"></td>
                                    <td ng-bind="(ofd.data[6] * 100 | number:2) + '%'"></td>
                                    <td ng-bind="ofd.data[7] | ktNumberLocate"></td>
                                    <td ng-bind="ofd.data[8] | ktNumberLocate"></td>
                                </tr>
                                <tr ng-if="!guarantee_loan_detail.length && !isLoading()">
                                    <td colspan="10" class="text-info text-center">
                                        <i class="pe-7s-attention f20 mr5"></i>
                                        <span class="f16">没有数据！</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
