<div kt-animate-panel child="hpanel" effect="zoomIn" delay="0.1">
    <div class="hpanel">
        <div class="panel-heading clfix">
            <h5>总览</h5>
        </div>
        <div class="panel-body clfix pr ov-h">
            <div class="dashboard-table">
                <div class="row" ng-if="stat_summary">
                    <div class="td col-md-3 text-center">
                        <h6>累计成交金额</h6>
                        <div class="f16 mt20 fb" ng-bind="stat_summary.loan_amnt | ktNumberLocate">
                        </div>
                    </div>
                    <div class="td col-md-3 text-center">
                        <h6>累计成交笔数</h6>
                        <div class="f16 mt20 fb" ng-bind="(stat_summary.loan_count | number:0) + '笔'">
                        </div>
                    </div>
                    <div class="td col-md-3 text-center">
                        <h6>累计借款人数</h6>
                        <div class="f16 mt20 fb" ng-bind="(stat_summary.borrower_count | number:0) + '人'">
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <h6>逾期率</h6>
                        <div class="f16 mt20 fb" ng-bind="((stat_summary.ovd_rate * 100) | number:2)+ '%'">
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="!stat_summary && !isLoading()">
                    <div class="col-md-12 text-center text-info">
                        <i class="pe-7s-attention f20 mr5"></i>
                        <span class="f16">没有数据！</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hpanel" ng-if="isAllProjectsPage()">
        <div class="panel-heading clfix">
            <h5>按项目统计</h5>
        </div>
        <div class="panel-body clfix pr ov-h">
            <div class="chart-table" ng-show="statByProject.radioDataShowType == 'all'">
                <div class="table-responsive table-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr class="text-left">
                                <th ng-repeat="f in ::statByProject.fieldNames">
                                    <span ng-bind="::f.name"></span>
                                    <i ng-if="::f.tip" tooltip-append-to-body="true" tooltip-placement="top" uib-tooltip="{{::f.tip}}" class="icon-lode icon-info f12 opacity-0_5"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-right" ng-if="stat_by_project.length" ng-repeat="p in ::stat_by_project">
                                <th class="text-left" ng-bind="p.name"></th>
                                <td ng-bind="::p.loan_amnt | ktNumberLocate"></td>
                                <td ng-bind="::((p.loan_count | number:0) + '笔')"></td>
                                <td ng-bind="::((p.borrower_count | number:0) + '人')"></td>
                                <td ng-bind="::p.ovd_rate | ktNumber:2:'percent'"></td>
                                <td ng-bind="::p.np_rate | ktNumber:2:'percent'"></td>
                            </tr>
                            <tr ng-if="!stat_by_project.length && !isLoading()">
                                <td colspan="{{::statByProject.fieldNames.length}}" class="text-info text-center">
                                    <i class="pe-7s-attention f20 mr5"></i>
                                    <span class="f16">没有数据！</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
