<table class="table table-striped table-hover dash-border">
    <thead>
        <tr class="text-left">
            <th ng-repeat="f in fields" ng-bind="f.name"></th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-right" ng-repeat="borrower in borrowers track by $index">
            <td ng-repeat="f in fields track by $index" calss="table-td-font" ng-class="{'text-center': $index === 0}" >
                <span ng-if="$index>0" ng-bind="borrower[f.field]"></span>
                <a ng-if="$index === 0" ng-bind="borrower[f.field]" class="tu"  ui-sref="analytics.project.debtors.detail.view({debtorID: borrower.id})"></a>
            </td>
            <td>
                <a class="tu" ui-sref="analytics.project.debtors.detail.view({debtorID: borrower.id})">查看</a>
            </td>
        </tr>
        <tr ng-if="!borrowers.length && !isLoading()">
            <td colspan="{{fields.length+1}}" class="text-info text-center">
                <i class="pe-7s-attention f20 mr5"></i>
                <span class="f16">没有数据！</span>
            </td>
        </tr>
    </tbody>
</table>
