<section class="tab-1" ng-if="tabs.basic_info">
    <div class="hpanel table-responsive" ng-show="info.basic_info.length">
        <div class="panel-heading clfix">
            <h5>基本信息</h5>
        </div>
        <div class="panel-body clfix pr ov-h">
            <div class="simple-grid">
                <div class="line clfix" ng-if="!info.basic_info_second" ng-repeat="item in info.basic_info">
                    <div class="name" ng-bind="::item.name | ktAppend:'：'"></div>
                    <div class="value" ng-bind="::item.value"></div>
                </div>
                <div class="line clfix" ng-if="info.basic_info_second" ng-repeat="item in info.basic_info">
                    <div class="left">
                        <div class="name" ng-bind="::item.name | ktAppend:'：'"></div>
                        <div class="value" ng-bind="::item.value"></div>
                    </div>
                    <div class="right" ng-if="info.basic_info_second[$index]">
                        <div class="name" ng-bind="::info.basic_info_second[$index].name | ktAppend:'：'"></div>
                        <div class="value" ng-bind="::info.basic_info_second[$index].value"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hpanel table-responsive" ng-show="info.contact_info.length">
        <div class="panel-heading clfix">
            <h5>联系人信息</h5>
        </div>
        <div class="panel-body clfix pr ov-h">
            <div class="simple-grid">
                <div class="line clfix" ng-if="!info.contact_info_second" ng-repeat="item in info.contact_info">
                    <div class="name" ng-bind="::item.name | ktAppend:'：'"></div>
                    <div class="value" ng-bind="::item.value"></div>
                </div>
                <div class="line clfix" ng-if="info.contact_info_second" ng-repeat="item in info.contact_info">
                    <div class="left">
                        <div class="name" ng-bind="::item.name | ktAppend:'：'"></div>
                        <div class="value" ng-bind="::item.value"></div>
                    </div>
                    <div class="right" ng-if="info.contact_info_second[$index]">
                        <div class="name" ng-bind="::info.contact_info_second[$index].name | ktAppend:'：'"></div>
                        <div class="value" ng-bind="::info.contact_info_second[$index].value"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hpanel table-responsive" ng-show="info.others_info.length">
        <div class="panel-heading clfix">
            <h5>其他信息</h5>
        </div>
        <div class="panel-body clfix pr ov-h">
            <div class="simple-grid">
                <div class="line clfix" ng-if="!info.others_info_second" ng-repeat="item in info.others_info">
                    <div class="name" ng-bind="::item.name | ktAppend:'：'"></div>
                    <div class="value" ng-bind="::item.value"></div>
                </div>
                <div class="line clfix" ng-if="info.others_info_second" ng-repeat="item in info.others_info">
                    <div class="left">
                        <div class="name" ng-bind="::item.name | ktAppend:'：'"></div>
                        <div class="value" ng-bind="::item.value"></div>
                    </div>
                    <div class="right" ng-if="info.others_info_second[$index]">
                        <div class="name" ng-bind="::info.others_info_second[$index].name | ktAppend:'：'"></div>
                        <div class="value" ng-bind="::info.others_info_second[$index].value"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section ng-if="tabs.payments">
    <div class="hpanel table-responsive">
        <div class="panel-heading clfix">
            <h5>借款信息</h5>
        </div>
        <div class="panel-body clfix pr ov-h">
            <div class="dashboard-table">
                <div class="row" ng-if="repayments.loan_info">
                    <div class="td col-md-3 text-center">
                        <h6>借贷本金</h6>
                        <div class="f16 mt20 fb" ng-bind="repayments.loan_info.loan_amnt | ktAppend:'元'">
                        </div>
                    </div>
                    <div class="td col-md-3 text-center">
                        <h6>期限</h6>
                        <div class="f16 mt20 fb" ng-bind="repayments.loan_info.term | ktAppend:'个月'">
                        </div>
                    </div>
                    <div class="td col-md-3 text-center">
                        <h6>产品类型</h6>
                        <div class="f16 mt20 fb" ng-bind="repayments.loan_info.product_type">
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <h6>利率
                        <!-- <i tooltip-append-to-body="true" tooltip-placement="top" uib-tooltip="{{::getToolTip('ovd_rate')}}" class="icon-lode icon-info f12 opacity-0_5"></i> -->
                        </h6>
                        <div class="f16 mt20 fb" ng-bind="repayments.loan_info.interest_rate | ktNumber:'percent'">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hpanel table-responsive">
        <div class="panel-heading clfix">
            <h5>实际还款计划</h5>
        </div>
        <div class="panel-body clfix pr ov-h">
            <div class="chart-table">
                <div class="table-responsive table-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr class="text-left">
                                <th>还款编号</th>
                                <th>应还款日期</th>
                                <th>实际还款日期</th>
                                <th>应还金额</th>
                                <th>应还本金</th>
                                <th>应还利息</th>
                                <th>其他应还金额</th>
                                <th>实还本金</th>
                                <th>计划剩余本金</th>
                                <th>实际剩余本金</th>
                                <th>状态</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-right" ng-repeat="p in repayments.payments track by $index">
                                <td ng-bind="::p.pymnt_no"></td>
                                <td ng-bind="::p.sched_pymnt_date | date:'yyyy-MM-dd'"></td>
                                <td ng-bind="::p.settle_date | date:'yyyy-MM-dd'"></td>
                                <td ng-bind="::p.sched_loan_amnt | ktAppend:'元'"></td>
                                <td ng-bind="::p.sched_prncp | ktAppend:'元'"></td>
                                <td ng-bind="::p.sched_int | ktAppend:'元'"></td>
                                <td ng-bind="::p.other_amnt | ktAppend:'元'"></td>
                                <td ng-bind="::p.pymnt_prncp | ktAppend:'元'"></td>
                                <td ng-bind="::p.sched_prncp_balns | ktAppend:'元'"></td>
                                <td ng-bind="::p.prncp_balns | ktAppend:'元'"></td>
                                <td ng-bind="::p.overdue_status" ng-class="{'text-danger': p.overdue_status.toString().indexOf('M') > -1}"></td>
                            </tr>
                            <tr ng-if="!repayments.payments.length && !isLoading()">
                                <td colspan="11" class="text-info text-center">
                                    <i class="pe-7s-attention f20 mr5"></i>
                                    <span class="f16">没有数据！</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section ng-if="tabs.active3">
    <div class="hpanel table-responsive">
        <div class="panel-heading clfix">
            <h5>申请表及合同</h5>
        </div>
        <div class="panel-body clfix pr ov-h">
            <div class="file-cards">
                <div class="card">
                    <h4>申请表：</h4>
                    <div class="type-img">
                        <img src="" alt="">
                    </div>
                    <div class="card-footer">
                        <a href="">下载</a>
                    </div>
                </div>
                <div class="card">
                    <h4>申请表2：</h4>
                    <div class="type-img">
                        <img src="" alt="">
                    </div>
                    <div class="card-footer">
                        <a href="">下载</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hpanel table-responsive">
        <div class="panel-heading clfix">
            <h5>财产证明</h5>
        </div>
        <div class="panel-body clfix pr ov-h">
            <div class="file-cards">
                <div class="card">
                    <h4>申请表：</h4>
                    <div class="type-img">
                        <img src="" alt="">
                    </div>
                    <div class="card-footer">
                        <a href="">下载</a>
                    </div>
                </div>
                <div class="card">
                    <h4>申请表2：</h4>
                    <div class="type-img">
                        <img src="" alt="">
                    </div>
                    <div class="card-footer">
                        <a href="">下载</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hpanel table-responsive">
        <div class="panel-heading clfix">
            <h5>央行征信报告</h5>
        </div>
        <div class="panel-body clfix pr ov-h">
            <div class="file-cards">
                <div class="card">
                    <h4>申请表：</h4>
                    <div class="type-img">
                        <img src="" alt="">
                    </div>
                    <div class="card-footer">
                        <a href="">下载</a>
                    </div>
                </div>
                <div class="card">
                    <h4>申请表2：</h4>
                    <div class="type-img">
                        <img src="" alt="">
                    </div>
                    <div class="card-footer">
                        <a href="">下载</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
