<table class="table table-striped table-hover">
    <thead>
        <tr class="text-left">
            <th>借款人姓名</th>
            <th>借款人身份证号</th>
            <th>年龄</th>
            <th>性别</th>
            <th>行业</th>
            <th>收入</th>
            <th>户口所在地</th>
            <th>资料附件</th>
            <th>审批状态</th>
            <th>备注</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-right" ng-repeat="borrower in debtor.borrowers">
            <th class="text-left" ng-bind="::borrower.name"></th>
            <td ng-bind="::borrower.identity_num"></td>
            <td ng-bind="::borrower.age"></td>
            <td ng-bind="::borrower.gender"></td>
            <td ng-bind="::borrower.job_industry"></td>
            <td ng-bind="::borrower.salary"></td>
            <td ng-bind="::borrower.account_province"></td>
            <td>
                <a href="{{::borrower.attachments_url}}" target="_blank" class="tu">查看</a>
            </td>
            <td ng-bind-html="getStatusNameNice(borrower.status)"></td>
            <td class="text-center" ng-bind="::borrower.description">
            </td>
        </tr>
        <tr ng-if="(!debtor.borrowers.length || !debtor.borrowers) && !isLoading()">
            <td colspan="10" class="text-info text-center">
                <i class="pe-7s-attention f20 mr5"></i>
                <span class="f16">没有数据！</span>
            </td>
        </tr>
    </tbody>
</table>
