<div id="loadPlanDetail" class="row" kt-animate-panel child="hpanel">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading clfix">
                <!-- <h5>计划还款明细</h5> -->
                <div class="fl mt8 f13">
                    <dl class="ib mb0">
                        <dt class="ib">子项目：</dt>
                        <dd class="ib" ng-bind="repayment.name"></dd>
                    </dl>
                    <dl class="ib mb0 ml20">
                        <dt class="ib">批次：</dt>
                        <dd class="ib" ng-bind="repayment.number"></dd>
                    </dl>
                    <dl class="ib mb0 ml20">
                        <dt class="ib">还款日：</dt>
                        <dd class="ib" ng-bind="repayment.repay_at"></dd>
                    </dl>
                    <dl class="ib mb0 ml20">
                        <dt class="ib">还款期数：</dt>
                        <dd class="ib" ng-bind="repayment.stage"></dd>
                    </dl>
                    <!-- <dl class="ib mb0 ml10" ng-if="repayment.status === 'done'">
                        <dt class="ib">状态:</dt>
                        <dd class="ib"><i class="glyphicon glyphicon-ok approved-color mr5"></i>已确认</dd>
                    </dl> -->
                </div>
                <div class="fr">
                    <a ng-if="repayment.status !== 'done'" class="btn btn-dark btn-sm ml10" ng-click="confirmRepayment(id)">确认</a>
                    <span ng-if="repayment.status === 'done'" class="ib mt8 f12"><i class="glyphicon glyphicon-ok approved-color mr5"></i>已确认</span>
                    <a class="download-data f18 ml5 pr10 pl10 va-2">
                        <i class="glyphicon glyphicon-download-alt"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body clfix">
                <div class="ov-h">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="chart-table">
                               
                                <div class="table-responsive table-body">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr class="text-left">
                                                <th>借款人账户号</th>
                                                <th>姓名</th>
                                                <th>身份证号</th>
                                                <th>还款状态</th>
                                                <th>当期应还本金</th>
                                                <th>当期应还利息</th>
                                                <th>提前还款本金</th>
                                                <th>提前还款违约金</th>
                                                <th>累计逾期金额</th>
                                                <th>累计逾期罚息</th>
                                                <th>当期贷款服务费</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-right" ng-repeat="detail_repayment in repayment.detail_repayments">
                                                <th class="text-left" ng-bind="::detail_repayment.bank_account"></th>
                                                <td ng-bind="::detail_repayment.name"></td>
                                                <td ng-bind="::detail_repayment.identity_num"></td>
                                                <td ng-bind="::(detail_repayment.status === 'done' ? '已还款' : '未还款')"></td>
                                                <td ng-bind="::detail_repayment.repay_principle | ktNumberLocate"></td>
                                                <td ng-bind="::detail_repayment.repay_interest | ktNumberLocate"></td>
                                                <td ng-bind="::detail_repayment.ahead_principle | ktNumberLocate"></td>
                                                <td ng-bind="::detail_repayment.ahead_compensation | ktNumberLocate"></td>
                                                <td ng-bind="::detail_repayment.overdue_total_amount | ktNumberLocate"></td>
                                                <td ng-bind="::detail_repayment.overdue_total_fine | ktNumberLocate"></td>
                                                <td ng-bind="::detail_repayment.service_fees | ktNumberLocate"></td>
                                            </tr>
                                            <tr ng-if="(!repayment.detail_repayments.length || !repayment.detail_repayments) && !isLoading()">
                                                <td colspan="12" class="text-info text-center">
                                                    <i class="pe-7s-attention f20 mr5"></i>
                                                    <span class="f16">没有数据！</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <uib-pagination total-items="params.totalItems" items-per-page="params.per_page" ng-change="pageChanged()" max-size="params.maxSize" ng-model="params.page" class="pagination-sm fr"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
