<div id="loanPlans" class="row" kt-animate-panel child="hpanel">
    <div class="col-lg-12">
        <!-- <div class="content-header clfix">
            <div class="btns fl">
                <a ng-click="back()" class="btn btn-sm btn-default">&lt;&lt;返回列表</a>
            </div>
        </div> -->
        <div class="hpanel">
            <div class="panel-heading clfix">
                <h5>还款清单列表</h5>
            </div>
            <div class="panel-body clfix">
                <div class="ov-h">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="chart-table">
                                <div class="chart-table-heading clfix">
                                    <div class="dropdown fl" dropdown>
                                        <div dropdown-toggle class="dropdown-toggle cp">
                                            <span ng-bind="getSubProjectName()"></span><b class="icon-lode icon-arrow">&#xe805;</b>
                                        </div>
                                        <div class="dropdown-menu animated fadeIn m-t-xs">
                                            <ul>
                                                <li ng-repeat="subProject in subProjects" ng-class="{active: params.subproject_id === subProject.id}"><a ng-click="subProjectChange(subProject.id)" title="{{subProject.name}}" ng-bind="subProject.name"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive table-body" ui-view></div>
                            </div>
                        </div>
                    </div>
                    <pagination total-items="params.totalItems" items-per-page="params.per_page" ng-change="pageChanged()" max-size="params.maxSize" ng-model="params.page" class="pagination-sm fr"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>
