<table class="table table-striped table-hover">
    <thead>
        <tr class="text-left">
            <th>子项目名称</th>
            <th>资金方</th>
            <th>通道方</th>
            <th>开始时间</th>
            <th>终止时间</th>
            <th>投放金额</th>
            <th>约定收益率</th>
            <th>约定预期收益率</th>
            <th>是否循环</th>
            <th>循环月数</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-right" ng-repeat="subProject in subProjects">
            <th class="text-left">
                <a class="tu" ui-sref="analytics.project.settings.subProject.edit({subProjectID: subProject.id})" ng-bind="::subProject.name"></a>
            </th>
            <td ng-bind="::subProject.funder"></td>
            <td ng-bind="::subProject.channel"></td>
            <td ng-bind="::subProject.start_at"></td>
            <td ng-bind="::subProject.end_at"></td>
            <td ng-bind="::subProject.amount | ktNumberLocate"></td>
            <td ng-bind="::(subProject.annual_rate * 100 | number:2) + '%'"></td>
            <td ng-bind="::(subProject.annual_overdue_rate * 100 | number:2) + '%'"></td>
            <td ng-bind="::(subProject.is_circular ? '是' : '否')"></td>
            <td ng-bind="::(subProject.is_circular ? subProject.circle_month : '-')"></td>
            <td class="text-center">
                <a class="tu" ui-sref="analytics.project.settings.subProject.edit({subProjectID: subProject.id})">编辑</a>
            </td>
        </tr>
        <tr ng-if="!subProjects.length && !isLoading()">
            <td colspan="11" class="text-info text-center">
                <i class="pe-7s-attention f20 mr5"></i>
                <span class="f16">没有数据！</span>
            </td>
        </tr>
    </tbody>
</table>
