/* Panels */

.hpanel > .panel-heading {
    color: #ffffff;
    font-weight: 600;
    padding: 0;
    &.center {
        // margin-top: -5px;
        margin-bottom: 10px;
    }
    h5 {
        font-size: 15px;
        float: left;
        color: @color-1;
        margin-top: 8px;
    }
    .dropdown {
        border: 1px solid @color-9;
        border-radius: 3px;
        color: @color-3;
        font-size: 13px;
    }
    // transition: all .3s;
    // border: 1px solid transparent;
}

.hpanel .hbuilt.panel-heading {
    border-bottom: none;
}

.hpanel > .panel-footer {
    color: inherit;
    border: 1px solid @border-color;
    border-top: none;
    font-size: 90%;
    background: @color-bright;
}

.hpanel.panel-collapse > .panel-heading,
.hpanel .hbuilt {
    background: #fff;
    border-color: @border-color;
    border: 1px solid @border-color;
    padding: 10px 10px;
    border-radius: 2px;
}

.hpanel-cash {
    margin: 25px 14px;
    // background-color:#ffffff;
    border-radius: 3px;
    padding: 10px;
    border: none;
    box-shadow: none;
}

.hpanel {
    &.bg-white {
        background: #ffffff;
    }
    margin: 25px 14px;
    background-color: @color-5;
    border-radius: 3px;
    padding: 10px;
    border: none;
    box-shadow: none;
    .panel-heading-borrow {
        .dowonload {
            float: right;
            text-align: center;
            margin-top: 4px;
            a {
                background: rgb(62, 191, 255);
                border-radius: 5px;
                padding: 5px 8px 8px 5px;
                color: white;
            }
        }
    }
    .panel-body {
        padding: 0;
        // border: 1px solid @border-color;
        position: relative;
    }
    &.td-hpanel {
        margin-bottom: 0;
        .panel-body {
            border: 0;
            padding: 0;
            background: none;
        }
    }
    .file-cards {
        background: white;
        overflow: hidden;
        .card {
            width: 25%;
            float: left;
            padding: 5px;
            text-align: center;
            h4 {
                font-size: 1.2rem;
            }
            .type-img {
                border-radius: 2px;
                background: @color-5;
                height: 155px;
                width: 155px;
                display: inline-block;
            }
            .card-footer {
                margin: 5px 0;
                font-size: 1.2rem;
            }
        }
    }
}

.sum {
    margin-top:-10px;
    margin-bottom: 100px;
    margin-left:5px;
    .sub {
        float: left;
        margin: 10px 10px 10px 10px;
        width: 360px;
        height: 180px;
        background: #FFFFFF;
        // font-weight: bold;
        font-size: 14px;
        // span{
        //     text-align: right;
        // }
        div {
            // line-height: 35px;
            span {
                display: inline-block;
                text-align: right;
                // margin-left: 20px;
            }
        }
        .sub-title {
            position: relative;
            border-bottom: 1px solid #f0f0f0;
            width: 320px;
            margin-left:20px;
            .hh {
                margin-bottom: 10px;
                margin-top: 10px;
                .span2 {
                    display: inline-block;
                    float: right;
                    // margin-right: 20px;
                    color: gray;
                    font-size: 16px;
                    a:hover {
                        color: #3cc0ad;
                    }
                }
            }
        }
        .cont {
            &.cont-right{
                margin-left: 30px;

            }
            &.cont-right-1{
                margin-left: 15px;
            }
            margin-top: 15px;
            .sub-line {
                // margin-top: 13px;  
                line-height: 35px;
                .sub-line-left {
                    font-size: 13px;
                    float: left;
                    text-align: right;
                    width: 38%;
                    margin-left: 15px;

                }
                .sub-line-right {
                    color: #3cc0ad;
                    width: 47%;
                    margin-left: 18px;
                    font-size: 19px;
                    float: left;
                    text-align: left;
                        &.slr{
                            width:32%;
                        
                    }
                }
                .span4-font {
                    float: left;
                    width: 15%;
                    color: #CCCCCC;
                    font-size: 19px;
                    font-family: "微软雅黑";
                    // margin-right: 8px;
                    margin-left: -55px;
                    text-align: left;
                }
            }
        }
    }
}


/*     .col-md-4{
.sub-td{

   background: #ffffff;
   // margin-right: 5px;
    .sub-title {
        position: relative;
        border-bottom: 1px solid #D3D3D3;
        margin-bottom: 10px;
        .span2 {
            display: inline-block;
            float: right;
            margin-right: 15px;
            color: gray;
            font-size: 16px;
            a:hover {
                color: #0BC5B0;
            }
        }
    }
    .sub-line {
        // margin-top: 13px;  
        line-height: 35px;
        .sub-line-left {
          
            font-size: 15px;
            float: left;
            text-align: right;
            width: 50%;
            margin-left: 5px;
        }
            .span4-font {
               
                float: right;
                color: #CCCCCC;
                font-size: 16px;
                font-family: "微软雅黑";
                margin-right: 5px;
            }
        .sub-line-right {
              color: #0BC5B0;
            width: 30%;
            // margin-left: 5px;
            float: right;
            text-align: left;
        
        }
    }
}
} */
.alert {
    margin-bottom: 0;
    border-radius: 0;
    border: 1px solid @border-color;
    border-bottom: none;
}
.page-small {
    .hpanel {
        margin: 10px 0;
    }
}
.panel-collapse .panel-body {
    border: none;
}
.panel-tools {
    display: inline-block;
    float: right;
    margin-top: 0;
    padding: 0;
    position: relative;
}
.panel-tools a {
    margin-left: 5px;
    color: lighten(@color-text, 20%);
    cursor: pointer;
}
.hpanel.hgreen .panel-body {
    border-top: 2px solid @color-green;
}
.hpanel.hblue .panel-body {
    border-top: 2px solid @color-blue;
}
.hpanel.hyellow .panel-body {
    border-top: 2px solid @color-yellow;
}
.hpanel.hviolet .panel-body {
    border-top: 2px solid @color-violet;
}
.hpanel.horange .panel-body {
    border-top: 2px solid @color-orange;
}
.hpanel.hred .panel-body {
    border-top: 2px solid @color-red;
}
.hpanel.hreddeep .panel-body {
    border-top: 2px solid @color-red-deep;
}
.hpanel.hnavyblue .panel-body {
    border-top: 2px solid @color-navy-blue;
}
.hpanel.hbggreen .panel-body {
    background: @color-green;
    color: #fff;
    border: none;
}
.hpanel.hbgblue .panel-body {
    background: @color-blue;
    color: #fff;
    border: none;
}
.hpanel.hbgyellow .panel-body {
    background: @color-yellow;
    color: #fff;
    border: none;
}
.hpanel.hbgviolet .panel-body {
    background: @color-violet;
    color: #fff;
    border: none;
}
.hpanel.hbgorange .panel-body {
    background: @color-orange;
    color: #fff;
    border: none;
}
.hpanel.hbgred .panel-body {
    background: @color-red;
    color: #fff;
    border: none;
}
.hpanel.hbgreddeep .panel-body {
    background: @color-red-deep;
    color: #fff;
    border: none;
}
.hpanel.hbgnavyblue .panel-body {
    background: @color-navy-blue;
    color: #fff;
    border: none;
}
.panel-group .panel-heading {
    background-color: @color-bright;
    border-radius: 4px;
}
.small-header .hpanel {
    margin-bottom: 0;
}
.small-header {
    padding: 0 !important;
}
.small-header .panel-body {
    padding: 15px 25px;
    border-right: none;
    border-left: none;
    border-top: none;
    border-radius: 0;
    //  background: @color-bright;
}
.panel-body h5,
.panel-body h4 {
    font-weight: normal;
}
.small-header .panel-body h2 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 0 0;
}
.small-header .panel-body small {
    color: lighten(@color-text, 10%);
}
.hbreadcrumb {
    padding: 2px 0px;
    margin-top: 6px;
    margin-bottom: 0px;
    list-style: none;
    background-color: #fff;
    border-radius: #fff;
    font-size: 11px;
    > li {
        display: inline-block;
        + li:before {
            padding: 0 5px;
            // color: @color-navy-blue;
        }
    }
    
    > .active {
        color: lighten(@color-text, 20%);
    }
}
.wrapper {
    padding: 10px 20px;
}
.tab-panels {
    .tabs {
        margin: 0 14px -25px;
    }
}
