<div id="loanPlans" class="row" kt-animate-panel child="hpanel">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading clfix">
                <h5>放款计划列表</h5>
            </div>
            <div class="panel-body clfix">
                <div class="ov-h">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="chart-table">
                                <div class="chart-table-heading clfix">
                                    <div class="checkbox-group clfix">
                                        <div class="checkbox">
                                            <input id="status" type="checkbox" ng-model="params.status" ng-true-value="'all'" ng-false-value="0" ng-change="stateChanged()">
                                            <label for="status">
                                                展示已完成的放款计划
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive table-body" ui-view></div>
                            </div>
                        </div>
                    </div>
                    <uib-pagination total-items="params.totalItems" items-per-page="params.per_page" ng-change="pageChanged()" max-size="params.maxSize" ng-model="params.page" class="pagination-sm fr"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
