<div id="loadPlansPlans" class="row" kt-animate-panel child="hpanel">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading clfix">
                <!-- <h5>放款计划明细</h5> -->
                <div class="fl mt8 f13">
                    <dl class="ib mb0">
                        <dt class="ib">子项目:</dt>
                        <dd class="ib" ng-bind="name"></dd>
                    </dl>
                    <dl class="ib mb0 ml20">
                        <dt class="ib">批次:</dt>
                        <dd class="ib" ng-bind="number"></dd>
                    </dl>
                    <dl class="ib mb0 ml20">
                        <dt class="ib">提交时间:</dt>
                        <dd class="ib" ng-bind="submit_at"></dd>
                    </dl>
                </div>
                <div class="fr">
                    <a class="download-data f18 ml5 pr10 pl10 va-2">
                        <i class="glyphicon glyphicon-download-alt"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body clfix">
                <div class="ov-h">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="chart-table">
                                <div class="table-responsive table-body">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr class="text-left">
                                                <th>放款日</th>
                                                <th>借款人姓名</th>
                                                <th>身份证号</th>
                                                <th>银行卡号</th>
                                                <th>银行信息</th>
                                                <th>还款总金额</th>
                                                <th>应还本金</th>
                                                <th>应还利息</th>
                                                <th>应还服务费</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-right" ng-repeat="borrower in borrowers">
                                                <th class="text-left" ng-bind="::borrower.create_at"></th>
                                                <td ng-bind="::borrower.name"></td>
                                                <td ng-bind="::borrower.identity_num"></td>
                                                <td ng-bind="::borrower.bank_account"></td>
                                                <td ng-bind="::borrower.bank_info"></td>
                                                <td ng-bind="::borrower.repay_amount | ktNumberLocate"></td>
                                                <td ng-bind="::borrower.repay_principal | ktNumberLocate"></td>
                                                <td ng-bind="::borrower.repay_interest | ktNumberLocate"></td>
                                                <td ng-bind="::borrower.repay_service | ktNumberLocate"></td>
                                            </tr>
                                            <tr ng-if="(!borrowers.length || !borrowers) && !isLoading()">
                                                <td colspan="9" class="text-info text-center">
                                                    <i class="pe-7s-attention f20 mr5"></i>
                                                    <span class="f16">没有数据！</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <pagination total-items="params.totalItems" items-per-page="params.per_page" ng-change="pageChanged()" max-size="params.maxSize" ng-model="params.page" class="pagination-sm fr"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>
