<!-- <script type="text/ng-template" id="views/platform/account.html"> -->
<div class="row" kt-animate-panel child="hpanel" id="account-secure">
    <div class="col-lg-12 ">
        <div class="hpanel pr">
            <!-- <tabset>
                <tab select="tabSelect('platform.account.institution')" active="tabStatus.active1">
                    <tab-heading>
                        机构信息
                    </tab-heading>
                </tab>
                <tab select="tabSelect('analytics.account.accountset')" active="tabStatus.active2">
                    <tab-heading>
                        账户设置
                    </tab-heading>
                </tab>
            </tabset> -->
            <div class="panel-heading clfix">
                <h5>账户设置</h5>
            </div>
            <div class="panel-body b-t-none" ui-view>
            </div>
        </div>
    </div>
</div>
<!-- </script> -->
