<div>
    <uib-accordion class="custom-accordion" close-others="true">
        <uib-accordion-group is-open="accountAccordion.openA">
            <uib-accordion-heading>
                <span class="f14">修改密码</span>
                <span class="fr f14" ng-show="accountAccordion.openA">收起</span>
                <span class="fr f14" ng-show="!accountAccordion.openA">设置</span>
            </uib-accordion-heading>
            <div class="row pt20">
                <div class="col-md-8 col-md-offset-2">
                    <form name="passwordResetForm" ng-controller="ktPasswordUpdateCtrl" class="form-horizontal" method="post" id="passwordResetForm" ng-submit="submitForm()">
                        <div class="form-group col-lg-12" ng-class="{'has-error':passwordResetForm.old_password.$invalid && passwordResetForm.old_password.$dirty}">
                            <label class="text-primary-dark col-md-3 control-label">原密码<span class="ml5 f14 text-danger">*</span></label>
                            <div class="col-md-9">
                                <input placeholder="您的原密码" type="password" required="required" ng-model="accountSet.old_password" id="" class="form-control" name="password">
                                <div class="mt5 text-danger" ng-messages="passwordResetForm.old_password.$dirty && passwordResetForm.old_password.$error">
                                    <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请输入原密码</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-12" ng-class="{'has-error':passwordResetForm.password.$invalid && passwordResetForm.password.$dirty}">
                            <label class="text-primary-dark col-md-3 control-label">新密码<span class="ml5 f14 text-danger">*</span></label>
                            <div class="col-md-9">
                                <input ng-minlength="6" ng-maxlength="20" placeholder="您的新密码，必须包含大小写字母和数字" type="password" required="required" ng-model="accountSet.password" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/" id="" class="form-control" name="password">
                                <div class="mt5 text-danger" ng-messages="passwordResetForm.password.$dirty && passwordResetForm.password.$error">
                                    <div ng-message="minlength"><i class="fa fa-frown-o fb mr5"></i>不能小于6个字符</div>
                                    <div ng-message="maxlength"><i class="fa fa-frown-o fb mr5"></i>不能大于20个字符</div>
                                    <div ng-message="pattern"><i class="fa fa-frown-o fb mr5"></i>密码过于简单，必须包含大小写字母和数字</div>
                                    <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请填写新密码</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-12" ng-class="{'has-error':passwordResetForm.password_confirmation.$invalid && passwordResetForm.password_confirmation.$dirty}">
                            <label class="text-primary-dark col-md-3 control-label">重输新密码<span class="ml5 f14 text-danger">*</span></label>
                            <div class="col-md-9">
                                <input placeholder="再次输入您的新密码" type="password" required="required" ng-model="accountSet.password_confirmation" kt-compare-to="accountSet.password" id="" class="form-control" name="password_confirmation">
                                <div class="mt5 text-danger" ng-messages="passwordResetForm.password_confirmation.$dirty && passwordResetForm.password_confirmation.$error">
                                    <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>再次填写新密码</div>
                                    <div ng-message="ktCompareTo"><i class="fa fa-frown-o fb mr5"></i>两次输入的密码请保持一致</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <div class="text-center">
                                <div kt-loading-status height="32" width="32"></div>
                            </div>
                            <div class="col-md-4 col-md-offset-3">
                                <button class="btn btn-navy-blue" ng-disabled="passwordResetForm.$invalid || pendingRequests">保存更改</button>
                                <button class="btn btn-default" ng-click="cancel($event)">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </uib-accordion-group>
    </uib-accordion>
</div>
