<div id="logo">
    <span>
        <!-- <i class="icon-lode f22 mr15 vm">&#xe900;</i> -->
        <a href="{{accountLink}}" target="_blank" class="mr10">
            <img src="{{accountLogo}}" alt="中合担保logo" height="30">
        </a>微贷平台
        <!-- <a ui-sref="analytics.dashboard">
        </a> -->
    </span>
</div>
<nav role="navigation">
    <kt-minimaliza-menu></kt-minimaliza-menu>
    <!-- <div class="small-logo">
        <span class="text-primary-dark">
            <a ui-sref="analytics.dashboard">互联网金融交易所</a>
        </span>
    </div> -->
    <!-- <div class="checkbox checkbox-success fl mt20 lh18" ng-if="user.institution.inst_type === 'zijin'">
        <input id="roleSwitch" type="checkbox" ng-model="user.role" ng-true-value="'admin'" ng-false-value="'normal'">
        <label class="f12 white" for="roleSwitch">
            管理员(仅用于展示)
        </label>
    </div>
    <div class="fl"></div> -->
    <!-- <div class="checkbox checkbox-success fl mt20 lh18 ml10">
        <input id="userTypeSwitch" type="checkbox" ng-model="user.institution.inst_type" ng-true-value="'zhudai'" ng-false-value="'zijin'">
        <label class="f12 white" for="userTypeSwitch">
            助贷机构(仅用于展示)
        </label>
    </div> -->
    <div class="navbar-right f12">
        <ul class="nav navbar-nav no-borders">
            <li>
                你好，<span ng-bind="::user.name"></span>
            </li>
            <li class="dropdown">
                <a title="退出" class="tu" kt-logout>
                    退出
                </a>
            </li>
        </ul>
    </div>
</nav>
