<div id="navigation">
    <div class="profile-picture">
        <div class="stats-label text-color">
            <div class="dropdown" dropdown dropdown-append-to-body>
                <div dropdown-toggle class="dropdown-toggle white">
                    <span ng-bind="activeProjectName"></span><b class="icon-lode icon-arrow">&#xe805;</b>
                </div>
                <div id="side-menu-dropdown" class="dropdown-menu animated fadeIn m-t-xs">
                    <ul>
                        <li ng-class="{'active': item.id == projectID}" ng-repeat="item in projects">
                            <a ng-click="currStateSwitch(item.id)" title="{{item.name}}" ng-bind="item.name"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 资金平台-单个项目时候的主菜单 -->
    <ul ng-show="!isAllProjectsPage()" class="nav detail-name" id="side-menu">
        <li ng-class="{active:$state.current.name =='analytics.project.dashboard'}">
            <a ng-click="stateGo('analytics.project.dashboard', 'updateMenu', 'dashboardIsCollapsed')">
                <i class="icon-lode icon-calc mr10 va-1"></i>数据总览
            </a>
        </li>
        <li ng-class="{active: $state.includes('analytics.project.debtors.**')}">
            <a ng-click="stateGo('analytics.project.debtors.list.table', 'updateMenu', 'debtorsIsCollapsed')">
                <i class="icon-lode icon-approve mr10 va-1"></i>借款人清单
            </a>
        </li>
        <li ng-class="{active: $state.includes('analytics.project.asset.**')}">
            <a href="javascript:;" ng-click="updateMenu('assetPerformanceIsCollapsed')">
                <i class="icon-lode icon-report mr10 va-1"></i>资产分布
            </a>
            <ul class="nav nav-second-level" uib-collapse="menu.assetPerformanceIsCollapsed" ng-class="{in: !menu.assetPerformanceIsCollapsed}">
                <!--  <li ui-sref-active="active">
                    <a ui-sref="analytics.project.asset.users">人群分析</a>
                </li> -->
                <li ui-sref-active="active">
                    <a ui-sref="analytics.project.asset.users.usersFeature">人群分析</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="analytics.project.asset.feature.AssetFeature">资产分析</a>
                </li>
            </ul>
        </li>
        <li ng-class="{active: $state.includes('analytics.project.risk.**')}">
            <a href="javascript:;" ng-click="updateMenu('riskIsCollapsed')"><i class="icon-lode icon-risk mr10 va-1"></i>风险分析
            </a>
            <ul class="nav nav-second-level" uib-collapse="menu.riskIsCollapsed" ng-class="{in: !menu.riskIsCollapsed}">
                <!--   <li ui-sref-active="active">
                    <a ui-sref="analytics.project.risk.overdue">趋势分析</a>
                </li> -->
                <li ui-sref-active="active">
                    <a ui-sref="analytics.project.risk.overdue.overdueIndex">趋势分析</a>
                </li>
                <!--     <li ui-sref-active="active">
                    <a ui-sref="analytics.project.risk.vintage">Vintage</a>
                </li> -->
                <li ui-sref-active="active">
                    <a ui-sref="analytics.project.risk.vintage.vintageIndex">Vintage</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="analytics.project.risk.assetRisk.index">多维分析</a>
                </li>
            </ul>
        </li>
        <li ng-class="{active: $state.includes('analytics.project.cash.**')}">
            <a href="javascript:;" ng-click="updateMenu('cashIsCollapsed')">
                <i class="icon-lode icon-trend mr10 va-1"></i>现金流测算
            </a>
            <ul class="nav nav-second-level" uib-collapse="menu.cashIsCollapsed" ng-class="{in: !menu.cashIsCollapsed}">
                <li ui-sref-active="active">
                    <a ui-sref="analytics.project.cash.forecast.index">现金流预测</a>
                </li>
                 <li ui-sref-active="active">
                    <a ui-sref="analytics.project.cash.repayments.index">还款分析</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="analytics.project.cash.settings">参数设置</a>
                </li>
            </ul>
        </li>
        <!--  <li ng-class="{active: $state.includes('analytics.project.cash')}">
           <a href="javascript:;" ng-click="updateMenu('cashIsCollapsed')">
               <i class="icon-lode icon-trend mr10 va-1"></i>现金流预测
           </a>
       </li> -->
        <!--     <li ng-class="{active: $state.includes('analytics.project.settings.**')}">
        <a href="javascript:;" ng-click="updateMenu('settingsIsCollapsed')">
            <i class="icon-lode icon-set mr10 va-1"></i>项目设置
        </a>
        <ul class="nav nav-second-level" uib-collapse="menu.settingsIsCollapsed" ng-class="{in: !menu.settingsIsCollapsed}">
            <li ng-class="{active: $state.includes('analytics.project.settings.info') || $state.includes('analytics.project.settings.edit') || $state.includes('analytics.project.settings.add')}">
                <a ui-sref="analytics.project.settings.info">基本信息</a>
            </li>
        </ul>
    </li> -->
    </ul>
    <!-- 资金平台-单个项目时候的主菜单 -->
    <!-- 资金平台-全部项目时候的主菜单 -->
    <ul ng-show="isAllProjectsPage()" class="nav main-name" id="side-menu">
        <!-- <li ng-class="{active: $state.includes('analytics.reports.**')}">
            <a href="javascript:;" ng-click="updateSummaryMenu('reportsIsCollapsed')">
                <i class="icon-lode icon-calc mr10 va-1"></i>数据报表
            </a>
            <ul class="nav nav-second-level" uib-collapse="summaryMenu.reportsIsCollapsed" ng-class="{in: !summaryMenu.reportsIsCollapsed}">
                <li ui-sref-active="active">
                    <a ui-sref="analytics.reports.dashboard">总览</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="analytics.reports.assetFeature">资产特征</a>
                </li>
            </ul>
        </li> -->
        <li ng-class="{active: $state.includes('analytics.projects.list.**') || $state.includes('analytics.projects.add')}">
            <a ng-click="stateGo('analytics.projects.list.table', 'updateSummaryMenu', 'projectsIsCollapsed')">
                <i class="icon-lode icon-project mr10 va-1"></i>项目列表
            </a>
        </li>
        <!-- <li ng-class="{active: $state.includes('analytics.institutions.**')}">
            <a ng-click="stateGo('analytics.institutions.list.table', 'updateSummaryMenu', 'institutionsIsCollapsed')">
                <i class="icon-lode icon-inst mr10 va-1"></i>机构列表
            </a>
        </li> -->
    </ul>
    <!-- 资金平台-全部项目时候的主菜单 -->
    <!-- <delete add projects> -->
    <!--    <div class="buttons text-left mt20 ml50 pl2" ng-show="!isAllProjectsPage()">
        <a ui-sref="analytics.project.settings.add" class="btn btn-dark btn-sm">添加项目</a>
    </div>
    <div class="buttons text-left mt20 ml50 pl2" ng-show="isAllProjectsPage()">
        <a ui-sref="analytics.projects.add" class="btn btn-dark btn-sm">添加项目</a>
    </div> -->
</div>
