<div id="logo" >
    <span>
        <i class="icon-lode f22 mr15 vm">&#xe900;</i>微贷平台
        <!-- <a ui-sref="analytics.dashboard">
        </a> -->
    </span>
</div>
<nav role="navigation">
    <!-- <kt-minimaliza-menu></kt-minimaliza-menu> -->
    <!-- <div class="small-logo">
        <span class="text-primary-dark">
            <a ui-sref="analytics.dashboard">互联网金融交易所</a>
        </span>
    </div> -->
    <div class="navbar-right f12">
        <ul class="nav navbar-nav no-borders">
            <li>
                你好，<span ng-bind="::user.name"></span>
            </li>
            <li class="dropdown">
                <a title="退出" class="tu" kt-logout>
                    退出
                </a>
            </li>
        </ul>
    </div>
</nav>




