<footer>
    <div class="container pt15 pb15">
        <div class="row">
            <div class="col-sm-12 text-center footer-nav">
                <a title="关于我们" target="_blank" href="https://www.ktjr.com/aboutus/company">关于我们</a>
                <a title="联系我们" target="_blank" href="https://www.ktjr.com/aboutus/contact">联系我们</a>
                <!-- <a title="融资服务" target="_blank" href="https://www.ktjr.com/aboutus/finacing">融资服务</a> -->
                <a title="加入我们" target="_blank" href="https://www.ktjr.com/aboutus/joinus">加入我们</a>
                <!-- <a ui-sref="home.aboutus.company">隐私保护</a> -->
                <span class="item" title="联系电话" href="tel:010-84554188">联系电话：010-84554188</span>
                <a title="ICP备案" class="last" href="http://www.miibeian.gov.cn" rel="nofllow" target="_blank">京ICP备150220058号-1</a>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-12 text-center">&copy;2016 开通金融信息服务（北京）有限公司</div>
        </div>
        <!-- <div class="row mt10 text-center hover-filter-img kexin-certificate">
            <script src="/mock_data/seallogo.dll?sn=e150806110108597584e6k000000&size=0"></script>
            <div id="KXYZ" class="ib">
            </div>
            <div class="ib ml10">
                <a id='___szfw_logo___' red="nofllow" href='https://credit.szfw.org/CX20150810010678150155.html' target='_blank'><img src='images/cert.png' border='0' /></a>
                <script type='text/javascript'>(function(){document.getElementById('___szfw_logo___').oncontextmenu = function(){return false;}})();</script>
            </div>
        </div> -->
    </div>
</footer>
