<div id="logo">
    <span>
        <!-- <i class="icon-lode f22 mr15 vm">&#xe900;</i> -->
     <!--    <a href="{{accountLink}}" target="_blank" class="mr10">
            <img src="{{accountLogo}}" alt="中合担保logo" height="30">
        </a> -->
            <img src="{{accountLogo}}" alt="中合担保logo" height="20" style="margin-left: -34px;">
    </span>
</div>
<nav role="navigation">
    <kt-minimaliza-menu></kt-minimaliza-menu>
    <div class="navbar-right f12">
        <ul class="nav navbar-nav no-borders">
            <li>
                你好，<span ng-bind="::user.name"></span>
            </li>
            <li class="dropdown">
                <a title="退出" class="tu" kt-logout>
                    退出
                </a>
            </li>
        </ul>
    </div>
</nav>
